<% content_for :modal_content do %>
  <div class="sqedule-form-container">
		<%= form_with(url: staff_assignments_path, scope: :assignment, local: true, class: "sqedule-form") do |form| %>
			<% if @assignment.errors.any? %>
					<div id="error_explanation">
					<h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this shift from being saved:</h2>

					<ul>
					<% @assignment.errors.full_messages.each do |message| %>
							<li><%= message %></li>
					<% end %>
					</ul>
					</div> 
			<% end %>
			<h1 class= "block text-blue-dark text-xl text-center font-bold pb-2">Assign Shift</h1>
			<%= form.label :shift, class: "sqedule-label" %>
			<%= form.select :shift, @shifts.collect {|s| ["#{s.pattern.shift_start.strftime("%H:%M")}-#{(s.pattern.shift_end).strftime("%H:%M")} #{s.pattern.primary_role}"]  }.concat( ["VAC", "OFF", "OD", "NPP"] ), {include_blank: false}, id: "dropdown", class: "sqedule-dropdown" %>      
			<%= form.hidden_field :date, value: @date %>
			<%= form.submit value: "Assign", class: "btn btn-blue mt-4" %>
			<%= button_tag 'Cancel', id: 'cancel_modal', class: 'btn btn-white'%>

		<% end %>
  </div>
<% end %>

<%= render 'partials/modal' %>