<%= form_with(model: @pattern, local: true, class: 'pattern-grid') do |form| %>

  <div class="field">
    <%= form.label :shift_start %>
    <%= form.time_field :shift_start, class: "input-field"%>
  </div>
  <div class="field">
    <%= form.label :shift_length, value: "Shift length (h)" %>
    <%= form.number_field :shift_length, class: "input-field" %>
  </div>
  <div class="field">
    <%= form.label :break_length, value: "Break length (h)" %>
    <%= form.number_field :break_length, class: "input-field" %>
  </div>
  <div class="field">
    <%= form.label :primary_role %>
    <%= form.select :primary_role, ["Cleaning", "Selling", "Teaching"], class: "block appearance-none mt-4 bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline", id: "primary-role" %>
  </div>

  <div class="field">
    <p></p>
    <%= form.submit value: "Create pattern", class: "btn btn-blue" %>
  </div>
<% end %>