<section class="grid-container">
  <div class="period sqedule-border"><h1><%= @schedule.period %></h1></div>
  <div class="dates-header sqedule-border"><%= render partial: 'dates' %></div>
  <div class="staff py-2 px-4 sqedule-border"><%= render 'partials/staff' %></div>
  <div class="shift-patterns py-2 px-4 sqedule-border"><%= render 'partials/shift_patterns' %></div>
  <div class="assignments py-2 px-4 sqedule-border"><%= render 'partials/assignments' %></div>
  <div class="shifts py-2 px-4 sqedule-border"><%= render 'partials/shifts' %></div>
</section>