<%= render 'partials/landing_nav' %>
<section class="grid-container">
  <div class= "dates-header sqedule-border-sections">
    <div class="sqedule-border flex items-center justify-center">
      <span>
        <%= link_to "<", schedule_path(@prev_month), class: "mr-4 month-step" unless @prev_month.nil? %>
        <h1 class="inline-block"><%= get_period_name(@schedule.period) %></h1>        
        <%= link_to ">", schedule_path(@next_month), class: "ml-4 month-step" unless @next_month.nil? %>
      </span>
    </div>
    <div class="date-grid sqedule-border-tranparent"><%= render partial: 'dates' %></div>
  </div>
  <div class="staff sqedule-border-sections">
    <div class="staff-section">
      <% @staffs.each do |staff|%>
        <div class="tile sqedule-border">
          <p class="text-2xl"><%= staff.name%></p>
          <p><%= staff.primary_role%></p>
          <p><%= link_to "Delete staff", staff_path(staff),  method: :delete, class: "no-underline text-red" %>

        </div>
      <% end %>
      <div class="add-tile sqedule-border"><%= link_to "Add Staff", new_staff_path, remote: :true, id: "add-staff", class: "btn btn-blue text-center w-48 no-underline" %></div>
    </div>
    <div class="assignment-section">
      <% @staffs.each do |staff| %>
        <div class="tile-grid sqedule-border background-color: pink"><%= render partial: 'new_assignments', locals: {staff: staff} %></div>
      <% end %>
      <div id="user-forms"></div>
    </div>
  </div>
  <div class="shift-patterns sqedule-border-sections">
    <div class="tile-section">
      <% @patterns.each do |pattern|%>
        <div class="tile sqedule-border">
          <p><%= "#{pattern.shift_start.strftime("%H:%M")}-#{(pattern.shift_end).strftime("%H:%M")} (#{(pattern.break_length).strftime("%H:%M")})" unless pattern.shift_start.nil? || pattern.shift_end.nil? || pattern.break_length.nil? %></p>
          <p><%= pattern.primary_role %></p>
          <p><%= link_to "Delete shift", pattern_path(pattern),  method: :delete, class: "no-underline text-red" %>
        </div>      
      <% end %>
      <div class="add-tile sqedule-border"><%= link_to "Add Shift", new_pattern_path, class: "btn btn-blue text-center w-48 no-underline", remote: :true, id: "add-pattern" %></div>
    </div>
    <div class="shifts-section">
      <% @patterns.each do |pattern|%>
        <% unless pattern.id.nil?%>
          <div class="tile-grid sqedule-border"><%= render partial: 'new_shifts', locals: {pattern: pattern} %></div>
        <% end %>
      <% end %>
    </div>
  </div>
  </div class="optimizer">
    <div></div>
    <div class="flex justify-end items-center"><%= link_to "Review", new_schedule_path, remote: true, class: "btn-optimizer" %></div>
  </div>
</section>

<div id="content"></div>