<%= content_for :modal_content do %>  
  <div class="sqedule-form-container">  
    <%= form_with(model: @pattern, local: true, class: 'sqedule-form') do |form| %>
      <%= form.label :shift_start, value: "Shift start (hh:mm)", class: "sqedule-label" %>
      <%= form.time_field :shift_start, value: "00:00", class: "sqedule-input", id: "shift-start"%>
      
      <%= form.label :shift_end, value: "Shift end (hh:mm)", class: "sqedule-label" %>
      <%= form.time_field :shift_end, value: "00:00", class: "sqedule-input", id: "shift-end" %>
      
      <%= form.label :break_length, value: "Break length (hh:mm)", class: "sqedule-label" %>
      <%= form.time_field :break_length, value: "00:00", class: "sqedule-input", id: "break-length" %>

      <%= form.label :primary_role, value: "Primary Role", class: "sqedule-label" %>
      <p><%= form.select :primary_role, ["Selling", "Cleaning", "Teaching"], {include_blank: false}, id: "primary-role", class: "sqedule-dropdown" %></p>
      
      <%= form.submit value: "Create pattern", class: "btn btn-blue mt-4" %>
      <%= button_tag 'Cancel', id: 'cancel_modal', class: 'btn btn-white'%>
    <% end %>
  </div>
<% end %>
<%= render partial: 'partials/modal'%>